/* Typography styling */

h1 {
    font-size: 2.25em;
    font-weight: 700;
    margin: 1em auto;
}

#recent-posts {
    text-align: center;
    margin: 2.5em 0em 1em;
}

@media (min-width: 768px) {
    #recent-posts {
        margin: 2.5em 0em -1em;
    }
}

#recent-posts {
    text-decoration: underline;
}

/* Image styling */

.main-img-container {
    margin: 2em auto;
}

.main-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .main-img-container {
        width: 87.5vw;
        height: 85vh;
    }
}

/* Layout styling */

@media (min-width: 768px) {
    .body-wrapper {
        width: 70vw;
        margin: 0 auto;
    }
}