* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    font-family: "Source Sans Pro", "sans-serif";
    display: flex;
    flex-direction: column;
}

main,
section {
    padding: 0px 1em;
}

/* Typography and text styling*/

p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0em;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.date-txt {
    text-transform: uppercase;
    margin: 1em 0em;
}

.hero-txt-container h1,
.hero-txt-container p {
    color: white;
}

@media (min-width: 768px) {
    .hero-txt-container p {
        max-width: 50vw;
    }
}

#view-more {
    width: 8em;
    font-size: 0.9em;
    font-weight: 700;
    text-align: center;
    margin: 0.25em auto 4em;
    background: inherit;
    border-style: none;
}

.hero-txt-container:hover,
#view-more:hover,
#view-more:active,
nav li:hover,
.blog-card h2:hover,
.blog-card a,
#hamburger-btn {
    cursor: pointer;
}

#view-more:hover,
#view-more:active,
#view-more:focus,
nav li:focus,
nav li:hover,
.blog-card h2:hover {
    text-decoration: underline;
}

/* Navigation styling */

nav a {
    text-transform: uppercase;
    font-weight: 600;
}

#mobile-nav-container a {
    color: whitesmoke;
    font-weight: 600;
}

header {
    padding: 0.75em 2em;
}

#logo-container {
    width: 12.5em;
}

#heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links-container {
    display: none;
}

#hamburger-btn {
    display: block;
    font-size: 2em;
}

#mobile-nav-container {
    display: none;
    flex-direction: column;
    width: 95%;
    height: 50%;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 99;
}

.visible {
    display: flex !important;
}

@media (min-width: 768px) {

    #nav-links-container {
        flex-direction: row;
        display: flex;
        align-items: center;
        gap: 2em;
    }

    #hamburger-btn {
        display: none;
    }
}

/* Image styling */

img {
    height: 100%;
    width: 100%;
    display: block;
}

.img-block {
    height: 45vh;
}

.img-block img {
    border-radius: 4px;
}

/* Layout styling */

#hero {
    background: url("./images/half-laptop.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 1em;
}

@media (min-width: 768px) {
    #hero {
        height: 75vh;
    }
}

.hero-txt-container {
    left: 1em;
    bottom: 1em;
    padding-right: 1em;
}

#blog-posts-grid {
    padding: 1em;
    margin-top: 2em;
}

@media (min-width: 768px) {

    #blog-posts-grid,
    #more-blog-posts {
        padding: 1.25em 4em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.75em;
    }

}

/* Footer Styling*/

footer {
    align-self: flex-end;
    background: #d0daee;
    bottom: 0px;
    left: 0px;
    width: 100vw;
}

footer p {
    color: black;
    font-size: 12px;
    text-align: center;
    margin: 0px;
}