/* Image styling*/

.portrait-container {
    width: 8em;
    height: 8em;
    margin-bottom: 1.5em;
}

.portrait-img {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
}

/* Typography styling */

#recent-posts {
    text-align: center;
}

#recent-posts {
    text-decoration: underline;
}

/* Layout styling */

.intro {
    margin-top: 4em;
}

@media (min-width: 768px) {
    .intro {
        display: flex;
        gap: 1.75em;
        justify-content: center;
    }

    .intro-txt h1 {
        width: 50vw;
    }

    .intro-txt p {
        width: 62vw;
    }

    main {
        padding: 4em 12em;
    }
}